/* Universal Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #363636;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
}

a:link {
    color: #0c87ec;
    text-decoration: none;
}

a:visited {
    color: #0c87ec;
    text-decoration: none;
}

a:hover {
    color: #0c87ec;
    text-decoration: none;
}

a:active {
    color: #0c87ec;
    text-decoration: none;
}

/* List Styles */
ul {
    list-style-type: disc;
    list-style-position: inside;
}

ul li {
    color: #FFFFFF;
}

/* Misc Styles */

.text-warning {
    color: #FF0000;
    font-size: 18px;
    font-weight: bold;
}

.pad-right {
    margin-right: 40px !important;
}

.border-test {
    border: 1px Solid #FF0000;
}

/* CSS Grid / Flex */

/* Window Container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.125fr 1.75fr;
    gap: 0px 0px;
    grid-template-areas:
        "navbar"
        "content";
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Navbar */
.grid-navbar {
    grid-area: navbar;
    background-color: #090909;
}

.flex-navbar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Content Container */
.grid-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-area: content;
    overflow-y: auto;
}

.flex-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: top;
}

.flex-card-title {
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-top: 35px;
    font-weight: bold;
    background-color: #121212;
    border-collapse: collapse;
}

.flex-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 25px;
    margin-bottom: 15px;
    background-color: #080808;
    border-collapse: collapse;
}

.flex-card:last-child {
    margin-bottom: 100px;
}

.flex-card-reverse {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    padding: 25px;
    margin-bottom: 15px;
    background-color: #080808;
    border-collapse: collapse;
}

.flex-card-instructions {
    /* max-width: 30%; */
    padding-bottom: 25px;
    max-width: 450px;
}

.flex-card-instructions li {
    list-style-position: outside;
    padding: 15px;
}

.flex-card-column-center {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.flex-card-row-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Custom Scroll Navigation */
.flex-scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 12vh;
    bottom: 5vh;
    right: 15px;
    padding: 5px;
    width: 70px;
}

.scroll-button {
    display: none;
    padding: 15px 20px;
    /* margin: 4px 10px; */
    border: 1px solid #090909;
    background-color: #003366;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.scroll-button:hover {
    background-color: #0c87ec;
}

/* Custom Buttons: */

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 4px 10px;
    border: 1px solid #090909;
    background-color: #404040;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0c87ec;
}


/* Custom Checkboxes: */

/* Config Checkbox Text */
.custom-checkbox-text {
    padding-left: 10px;
    padding-right: 25px;
}

/* Checkbox Container */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 23px;
    margin-bottom: 27px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.custom-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #404040;
    border: 1px solid #090909;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input~.custom-checkmark {
    background-color: #808080;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked~.custom-checkmark {
    background-color: #0c87ec;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked~.custom-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .custom-checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/* Custom Radio Buttons: */

/* Radio Button Container */
.custom-radial {
    display: block;
    position: relative;
    padding-left: 23px;
    margin-bottom: 27px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

/* Hide the browser's default radio button */
.custom-radial input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.custom-radial-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #404040;
    border: 1px solid #090909;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-radial:hover input~.custom-radial-checkmark {
    background-color: #808080;
}

/* When the radio button is checked, add a blue background */
.custom-radial input:checked~.custom-radial-checkmark {
    background-color: #0c87ec;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radial-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radial input:checked~.custom-radial-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radial .custom-radial-checkmark:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFFFFF;
}

/* Images */
.img-screenshot {
    max-width: 100%;
    height: auto;
}

.img-medium {
    width: 500px;
}

.img-wide {
    height: 350px;
    width: 500px;
}

/* 3 Digit Hex Color Picker - Containers */
.grid-color-picker-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.flex-color-picker-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #121212;
}

.flex-color-picker-column:nth-child(2) {
    padding-bottom: 35px;
}

/* 3 Digit Hex Color Picker - Output Row */
.output-color-box {
    height: 150px;
    width: 200px;
    margin: 25px;
    background-color: #F00;
    border: 2px solid #000000;
}

.output-color-text {
    height: 42px;
    width: 120px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
    color: #FFF;
    background-color: #363636;
    border: 1px solid #000000;
}

.output-color-text:focus {
    outline: none;
}

/* 3 Digit Hex Color Picker - Selection Row */
.flex-color-sliders {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.color-slider-box {
    height: 25px;
    width: 25px;
    margin-right: 25px;
    border: 1px solid #000000;
}

.input-slider {
    width: 150px;
}

/* 3 Digit Hex Color Picker - Background Colors */
.red-bg {
    background-color: #F00;
}

.green-bg {
    background-color: #0F0;
}

.blue-bg {
    background-color: #00F;
}

.gray-bg {
    background-color: #454545;
}

/* 3 Digit Hex Color Picker - Background Colors */
.picker-validation-border {
    border: 2px solid #FF0000;
    border-collapse: collapse;
}

@media screen and (min-width: 1080px) {
    .flex-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-left: 25%;
        margin-right: 25%;
        justify-content: top;
    }

    .flex-card-title {
        display: flex;
        justify-content: center;
        padding: 25px;
        margin-top: 50px;
        font-weight: bold;
        border-collapse: collapse;
    }
    
    .flex-card {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 25px;
        margin-bottom: 35px;
        border-collapse: collapse;
    }
    
    .flex-card-reverse {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-around;
        padding: 25px;
        margin-bottom: 35px;
        border-collapse: collapse;
    }

    .flex-scroll-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 10vh;
        bottom: 5vh;
        right: 25px;
        padding: 15px;
        width: 90px;
    }
    
    .scroll-button {
        display: none;
        padding: 20px 25px;
        font-size: 20px;
    }
}
